@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

.cs-header {
  display: flex;
  justify-content: space-between;
  //padding: 2em;
  margin-top: 2.5em;
  align-items: center;
}

.cs-signature {
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  margin: 0;
}